In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('colab_author_clean.csv')

In [23]:
len(df)

35090

In [24]:
df['cleaned_text'] = df['text'].astype(str).str.replace('"""', ' ')

In [25]:
df['cleaned_text'] = df['text'].astype(str).str.replace('""', ' ')

In [26]:
df.head()

,text,author,cleaned_text
0,मित्रहो !,aniket_yewale,मित्रहो !
1,रोजच्या या आपल्या धकाधकीच्या रूटीन मध्ये आपण ख...,aniket_yewale,रोजच्या या आपल्या धकाधकीच्या रूटीन मध्ये आपण ख...
2,की जर आपल्याला स्ट्रेस घेण्याची वेळच नाही आली तर?,aniket_yewale,की जर आपल्याला स्ट्रेस घेण्याची वेळच नाही आली तर?
3,हो हे शक्य आहे. . . अर्थात मी इथे कोणत्याही प्...,aniket_yewale,हो हे शक्य आहे. . . अर्थात मी इथे कोणत्याही प्...
4,. . . स्ट्रेस घालवण्याचा सर्वांत सोप्पा आणि ज...,aniket_yewale,. . . स्ट्रेस घालवण्याचा सर्वांत सोप्पा आणि ज...

In [27]:
print(df.loc[[670]])

    text         author cleaned_text
670    ?  aniket_yewale            ?

In [28]:
df['cleaned_text'] = df['text'].astype(str).str.rstrip('“').str.lstrip("”")

In [29]:
print(df.loc[[422]])

                                     text         author  \
422  "अहो, टीचर खरंच नाही माझ्याकडे काही.  aniket_yewale

                             cleaned_text
422  "अहो, टीचर खरंच नाही माझ्याकडे काही.

In [18]:
# df.to_csv('cleaned.csv', index=False)

In [34]:
new_df = pd.DataFrame()
new_df['text'] = df['cleaned_text']
new_df['author'] = df['author']

new_df.to_csv('colab_clean.csv', index=False)

In [32]:
len(new_df)

35090

In [33]:
len(df)

35090